//bg
$color-add-city-box-bg : rgba(245,245,245,1);
$color-back : #13227a;
$color-add-city-selected-box-bg : #f5be25;
$color-sider-menu-font : #484444;

// 添加城市组件的背景，字体颜色
$color-header : #00bbd2;

//添加城市的输入框
$color-input : #fff;
$color-input-font : #757575;

//main
$color-header-icon : #07a4b5;

// 字体
$font-size-theme : 48px;
$font-size-title : 26px;
$font-size-sider-title : 22px;
$font-size-add-city : 24px;
$font-size-main : 14px;
$icon-font : 30px;
